.apm-metabox fieldset {
    border: 1px solid rgb(221, 221, 221);
    border-width: 1px 1px 0px 1px;
    background: #f5f5f5;
    padding: 8px 0px 8px 4px;
}

.apm-metabox .remove-item {
    background: #990000;
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
    width: 18px;
    height: 18px;
}

.apm-metabox span.remove-item, span.sort-items {
    margin: 5px 0px 5px 7px;
}

.apm-metabox select {
    border-radius: 4px;
}

.apm-metabox span.apm-new-icon {
    color: #008000;
    margin-left: 5px; 
}

.apm-metabox fieldset.add-new-item {
    background: #fff;
    border-width: 1px;
    border-radius: 0 0 5px 5px;
}

.apm-metabox fieldset.add-new-item:hover {
    background: #f5f5f5;
}

.apm-metabox fieldset.apm-add-condition:hover, span.apm-add-action:hover, .apm-disconnect, a.refresh-mautic-data {
    cursor: pointer;
}

.apm-disconnect {
    color: #555;
    cursor: pointer;
    border: 1px solid;
    padding: 5px 10px;
    border-radius: 3px;
    border-color: #ccc;
    background: #f7f7f7;
    -webkit-box-shadow: 0 1px 0 #ccc;
    box-shadow: 0 1px 0 #ccc;
}

.apm-disconnect:hover {
    background: #fafafa;
    border-color: #999;
    color: #23282d;
}

.apm-config-tab div.amp-connected-btn {
    display: inline-block;
}

#apm-post-meta .refresh-mautic-data-wrap {
    float: right;
}

#apm-post-meta .amp-form-content {
    background: white;
    padding: 1em 2em;
}

#apm-post-meta .amp-rule-title, .apm-service-input {
    padding: 7px;
    width: 50%;
}

.apm-settings-heading {
    display: inline-block;
}

.apm-settings-heading .apm-heading-icon {
    height: 40px;
    width: 40px;
    float:left;
}

.apm-settings-heading .amp-heading-config {
    float:left;
    margin: 5px;
}

.apm-wp-spinner {
    float: none; 
    margin-bottom: 0.5em;
    font-size: 22px;
}

form.apm-post-meta .first-condition, form.apm-post-meta .second-condition {
    display:inline;
}

form.apm-post-meta .first-action, form.apm-post-meta .second-action {
    display:inline;
}

.apm-newrule-head {
    background: #fff;
    margin: 10px 0 0;
}

.hndle.ui-sortable-handle.apm-rule-heading {
    font-size: 14px;
    font-weight: 600;
    padding: 1em 2em;
    margin: 0;
    line-height: 1.4;
    border-bottom: 1px solid #eee;
}

.ampw-input-wrap {
    padding: 1em 2em;
    border-bottom: 1px solid #eee;
}

.amp-back-btn > a {
    color: #555;
    text-decoration: none;
}

.amp-back-btn > a:focus {
    outline: none;
    box-shadow: none;
}

#automate-config-form .button-primary {
    margin-left: 0;
    width: 160px;
}

/* Authentication screen */

.apm-service-row {
    padding: 0 2em;
}

.apm-sidebar-link a:focus {
    outline: none;
    box-shadow: none;
}

.apm-config-fields > h4 {
    font-weight: 400;
}

.inside.hide {
    display: none;
}
