.ampw-mautic-metabox fieldset {
    border: 1px solid rgb(221, 221, 221);
    border-width: 1px 1px 0px 1px;
    background: #f5f5f5;
    padding: 8px 0px 8px 4px;
}
.ampw-mautic-metabox .remove-item {
    background: #990000;
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
    width: 18px;
    height: 18px;
}
.ampw-mautic-metabox span.remove-item, span.sort-items {
    margin: 5px 0px 5px 7px;
}
.ampw-mautic-metabox select {
    border-radius: 4px;
}
.ampw-mautic-metabox span.ampw-new-item-icon {
    color: #008000;
    margin-left: 5px; 
}
.ampw-mautic-metabox fieldset.add-new-item {
    background: #fff;
    border-width: 1px;
    border-radius: 0 0 5px 5px;
}
.ampw-mautic-metabox fieldset.add-new-item:hover {
    background: #f5f5f5;
}
.ampw-mautic-metabox fieldset.ampw-add-condition:hover, span.ampw-add-action:hover, a.ampw-disconnect-mautic, a.refresh-mautic-data {
    cursor: pointer;
}
.ampw-mautic-metabox .refresh-mautic-data {
    float: left;
}
#ampw-post-meta .ampw-settings-form-content {
    background: white;
    padding: 1em 2em;
}
#ampw-post-meta .ampw_rule_title {
    padding: 10px;
    margin: 1em 0;
    font-size: 20px;
    width: 50%;
}
.ampw-settings-heading {
    display: inline-block;
}
.ampw-settings-heading .ampw-heading-icon {
    height: 40px;
    width: 40px;
    float:left;
}
.ampw-settings-heading .ampw-heading-config {
    float:left;
    margin: 5px;
}