.bsf-mautic-metabox fieldset {
    border: 1px solid rgb(221, 221, 221);
    border-width: 1px 1px 0px 1px;
    background: #f5f5f5;
    padding: 8px 0px 8px 4px;
}
.bsf-mautic-metabox .remove-item {
    background: #990000;
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
    width: 18px;
    height: 18px;
}
.bsf-mautic-metabox span.remove-item, span.sort-items {
    margin: 5px 0px 5px 7px;
}
.bsf-mautic-metabox select {
    border-radius: 4px;
}
.bsf-mautic-metabox span.bsfm-new-item-icon {
    color: #008000;
    margin-left: 5px; 
}
.bsf-mautic-metabox fieldset.add-new-item {
    background: #fff;
    border-width: 1px;
    border-radius: 0 0 5px 5px;
}
.bsf-mautic-metabox fieldset.add-new-item:hover {
    background: #f5f5f5;
}
.bsf-mautic-metabox fieldset.bsfm-add-condition:hover, span.bsfm-add-action:hover, a.bsfm-disconnect-mautic {
    cursor: pointer;
}
#bsfm-config-form .bsf-mautic-status-disconnect {
    background-color: #b4b9be;
    padding: 3px 6px;
    color: #fff;
}
.bsf-mautic-metabox .bsfm-refresh-mautic-wrap {
    margin-top: 1.3em;
}
.bsf-mautic-metabox .bsfm-wp-spinner-msg {
    color: #9acd32;
    margin-top: 5px;
    display: none;
}
#bsfm-config-form .bsfm-disconnect-mautic {
    margin-left: 1em;
}