.bsf-mautic-metabox fieldset {
    border: 1px solid rgb(221, 221, 221);
    border-width: 1px 1px 0px 1px;
    background: #f5f5f5;
    padding: 8px 0px 8px 4px;
}
.bsf-mautic-metabox .remove-item {
    background: #990000;
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
    width: 18px;
    height: 18px;
}
.bsf-mautic-metabox span.remove-item, span.sort-items {
    margin: 5px 0px 5px 7px;
}
.bsf-mautic-metabox select {
    border-radius: 4px;
}
.bsf-mautic-metabox span.bsfm-new-item-icon {
    color: #008000;
    margin-left: 5px; 
}
.bsf-mautic-metabox fieldset.add-new-item {
    background: #fff;
    border-width: 1px;
    border-radius: 0 0 5px 5px;
}
.bsf-mautic-metabox fieldset.add-new-item:hover {
    background: #f5f5f5;
}
.bsf-mautic-metabox fieldset.bsfm-add-condition:hover, span.bsfm-add-action:hover, a.bsfm-disconnect-mautic, a.refresh-mautic-data {
    cursor: pointer;
}
.bsf-mautic-metabox .refresh-mautic-data {
    float: left;
}
.bsf-mautic-metabox .bsfm-refresh-mautic-wrap {
    margin-top: 1em;
    display: inline-block;
}
/*.bsf-mautic-metabox .bsfm-wp-spinner-msg {
    color: #9acd32;
    margin-top: 5px;
    display: none;
}*/
.bsfm-settings-nav .bsfm-wp-spinner {
    margin: 0 8px;
}
#bsfm-post-meta .bsfm-settings-form-content {
    background: white;
    padding: 1em 2em;
}
#bsfm-post-meta .bsfm_rule_title {
    padding: 10px;
    margin: 1em 0;
    font-size: 20px;
    width: 50%;
}
.bsfm-settings-heading {
    display: inline-block;
}
.bsfm-settings-heading .bsfm-heading-icon {
    height: 40px;
    width: 40px;
    float:left;
}
.bsfm-settings-heading .bsfm-heading-config {
    float:left;
    margin: 5px;
}
